<div class="container home-content">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <carousel [isAnimated]="true">
            <slide>
                <img src="../../../images/assets/skills/6.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../images/assets/skills/2.png" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../images/assets/skills/8.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
        </carousel>

    </div>
    <div class="trusted-section">
        <h3>Trusted by over 4700+ individuals from YouTube and millions of learners around the world</h3>
    </div>


    <!-- <div class="text-content">
        <h2>All the skills you need in one place</h2>
        <h5><small>From critical skills to technical topics, SmartLearn by Karthik supports your professional
                development.</small></h5>
    </div> 

    <div class="cta-container">
        <button class="cta-btn">Explore Courses</button>
    </div> -->

    <app-category [viewType]="'tabs'"></app-category>
    <app-palns-and-pricing></app-palns-and-pricing>

</div>